.card-header {
  padding: 0.5rem;
}

.card-body {
  padding: 0.3rem;
}

.top-bar .card {
  height: 100%;
}

.add-new a {
  width: calc(50% - 0.6rem);
  height: calc(50% - 0.6rem);
  margin: 0.3rem;

  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

.stats {
  .card-header button {
    padding: 0;
    line-height: 1;
    margin-left: 5px;
  }

  .card-body {
    font-size: 12px;

    .stats-table {
      width: 100%;
      height: 100%;

      td {
        padding: 0;
      }

      td > * {
        border: 1px solid #dfdfdf;
        padding: 2px 5px;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
      }

      td:nth-child(1) > *,
      td:nth-child(3) > * {
        border-right-width: 0;
        border-top-left-radius: 0.25rem !important;
        border-bottom-left-radius: 0.25rem !important;
      }

      td:nth-child(2) > *,
      td:nth-child(5) > * {
        border-left-width: 0;
        border-top-right-radius: 0.25rem !important;
        border-bottom-right-radius: 0.25rem !important;
        text-align: right;
      }

      td:nth-child(4) > * {
        border-left-width: 0;
        border-right-width: 0;
        text-align: right;
      }

      td:nth-child(3) > * {
        margin-left: 0.3rem;
      }

      tr:not(:last-child) td {
        padding-bottom: 0.3rem;
      }
    }
  }
}
