<div *ngIf="isLoading" class="d-flex justify-content-center">
    <div class="spinner-border m-5 text-primary" role="status"></div>
</div>

<div *ngIf="!isLoading">
    <div class="row mt-3 top-bar">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-header">Plnenie plánu "30 strán na deň" (deň {{readingService.dayOfYear}} /
                    {{readingService.isLeapYear ? 366 : 365}})</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6 col-md-3" #gauge>
                            <div *ngIf="gauges$ | async as gauges">
                                <rg-gauge-chart [canvasWidth]="gauges[0].size" [needleValue]="0"
                                    [centralLabel]="gauges[0].label" [options]="gauges[0].opts" [name]="gauges[0].name"
                                    [nameFont]="14">
                                </rg-gauge-chart>
                            </div>
                        </div>
                        <div class=" col-6 col-md-3">
                            <div *ngIf="gauges$ | async as gauges">
                                <rg-gauge-chart [canvasWidth]="gauges[1].size" [needleValue]="0"
                                    [centralLabel]="gauges[1].label" [options]="gauges[1].opts" [name]="gauges[1].name"
                                    [nameFont]="14">
                                </rg-gauge-chart>
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <div *ngIf="gauges$ | async as gauges">
                                <rg-gauge-chart [canvasWidth]="gauges[2].size" [needleValue]="0"
                                    [centralLabel]="gauges[2].label" [options]="gauges[2].opts" [name]="gauges[2].name"
                                    [nameFont]="14">
                                </rg-gauge-chart>
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <div *ngIf="gauges$ | async as gauges">
                                <rg-gauge-chart [canvasWidth]="gauges[3].size" [needleValue]="0"
                                    [centralLabel]="gauges[3].label" [options]="gauges[3].opts" [name]="gauges[3].name"
                                    [nameFont]="14">
                                </rg-gauge-chart>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3">
            <div class="card">
                <div class="card-header">Prečítané Strany</div>
                <div class="card-body"></div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3">
            <div class="card">
                <div class="card-header">Prečítané Strany</div>
                <div class="card-body"></div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-header">Prečítané Strany</div>
                <div class="card-body" style="height: 500px;">
                    <canvas baseChart [datasets]="pagesByYearData$ | async" [labels]="pagesByYearLabels$ | async"
                        [options]="pagesByYearOpts" chartType="horizontalBar" [legend]="false" [plugins]="plugins">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card">
                <div class="card-header">Prečítané knihy</div>
                <div class="card-body" style="height: 500px;">
                    <canvas baseChart [datasets]="booksByYearData$ | async" [labels]="booksByYearLabels$ | async"
                        [options]="booksByYearOpts" chartType="horizontalBar" [legend]="false" [plugins]="plugins">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</div>