<div *ngIf="reading">
  <h2>{{reading.id}}</h2>

  <div class="form-group">
    <label for="example-text-input" class="">Text</label>
    <input class="form-control" auto-complete blank-option-text="<none>" [(ngModel)]="reading.book" [source]="booksUrl" display-property-name="name" [list-formatter]="listFormatter" min-chars="0" />

  </div>

  <div class="form-group">
    <label for="example-text-input">Text</label>
    <input class="form-control" auto-complete blank-option-text="<none>" [(ngModel)]="reading.country" [source]="countriesUrl" display-property-name="name" [list-formatter]="countryFormatter" min-chars="0" />


  </div>

  <div class="input-group">
    <span class="input-group-addon"><img *ngIf="reading.country" src="images/flags/{{reading.country.file}}"></span></div>

  <pre>{{reading|json}}</pre>

</div>
