@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

table {
  font-size: 0.85rem;

  td:nth-child(7), 
  td:nth-child(8) {
    width: 140px; // genre
    white-space: nowrap;
  }
}

th {
  cursor: pointer;
  position: relative;
  padding-right: 12px;

  &:hover {
    background: #dee2e6;
  }

  &:after {
    content: " ";
    display: inline-block;
    width: 8px;
    white-space: pre;
    position: absolute;
    right: 2px;
  }

  &.asc:after {
    content: "\2191";
  }

  &.desc:after {
    content: "\2193";
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .card-wrapper {
    flex: 0 1 calc(100% / 2);

    .card{
      height: calc(100% - 0.6rem);

      .card-header,
      .card-body {
        padding: 0.35rem 0.35rem;
        font-size: 0.8rem;
        line-height: 1.15;
      }

      .card-header {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.85rem;
      }

      img {
        width: 120px;
        height: 180px;
      }
    }
  }

  .b-picture {
    width: 100%;
    overflow: hidden;
    padding-top: 150%;
    background-size: cover;
    background-position: center;
    margin-bottom: 0.35rem;
  }

  &::after {
    content: "";
    flex: auto;
  }
}

.pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -0.18rem;

  a {
    flex: 0 1 calc(100% / 2);

    div {
      height: 0;
      overflow: hidden;
      padding-top: 150%;
      background-size: cover;
      background-position: center;
      margin: 0.18rem;
    }
  }

  &::after {
    content: "";
    flex: auto;
  }
}

@for $i from 1 through 13 {
  @media (min-width: #{110 * $i}px) {
    .pictures a {
      flex: 0 1 calc(100% / #{$i});
    }
  }
  @media (min-width: #{160 * $i}px) {
    .cards .card-wrapper {
      flex: 0 1 calc(100% / #{$i});
    }
  }
}
