<h2>Charts</h2>
<div>
  <chart [options]="options" (load)="saveInstance($event.context)"></chart>

  <div class="form-group">
    <label class="radio-inline"><input type="radio" name="sort" value="name" [(ngModel)]="sort" (ngModelChange)="sortData($event)">Sort by name</label>
    <label class="radio-inline"><input type="radio" name="sort" value="value" [(ngModel)]="sort" (ngModelChange)="sortData($event)">Sort by value</label>
      </div>  <div class="form-group"><label class="checkbox-inline"><input type="checkbox" name="desc" i [(ngModel)]="desc" (ngModelChange)="sortData($event)">Descending</label>
  </div>

  <button (click)="loadData('authorsBooksCount')" class="btn btn-default">Authors</button>
  <button (click)="loadData('yearBooksCount')" class="btn btn-default">Year books</button>
</div>
