@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

table {
  font-size: 0.85rem;

  td:nth-child(7) {
    width: 140px; // genre
  }
}

th {
  cursor: pointer;
  position: relative;
  padding-right: 12px;

  &:hover {
    background: #dee2e6;
  }

  &:after {
    content: " ";
    display: inline-block;
    width: 8px;
    white-space: pre;
    position: absolute;
    right: 2px;
  }

  &.asc:after {
    content: "\2191";
  }

  &.desc:after {
    content: "\2193";
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .card {
    flex: 0 1 calc(100% / 2 - 0.5rem);

    .card-header,
    .card-body {
      padding: 0.35rem 0.35rem;
      font-size: 0.8rem;
      line-height: 1.15;
    }

    .card-header {
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.85rem;
    }

    img {
      width: 120px;
      height: 180px;
    }
  }

  .b-picture {
    width: 100%;
    overflow: hidden;
    padding-top: 150%;
    background-size: 100% 100%;
    margin-bottom: 0.35rem;
  }
}

.pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  a {
    flex: 0 1 calc(100% / 2 - 0.5rem);

    div {
      height: 0;
      overflow: hidden;
      padding-top: 150%;
      margin-bottom: 0.5rem;
      background-size: 100% 100%;
    }
  }
}

@for $i from 1 through 13 {
  @media (min-width: #{110 * $i}px) {
    .pictures a {
      flex: 0 1 calc(100% / #{$i} - 0.5rem);
    }
  }
  @media (min-width: #{160 * $i}px) {
    .cards .card {
      flex: 0 1 calc(100% / #{$i} - 0.5rem);
    }
  }
}
