<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top ">
    <a class="navbar-brand" [routerLink]="['/home']" title="Domov"><i class="fas fa-home text-primary"></i></a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/books']"><i class="fas fa-book"></i> Knihy</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/readings']"><i class="fas fa-glasses"></i> Čítanie</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/authors']"><i class="fas fa-user"></i> Autori</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/series']"><i class="fas fa-layer-group"></i> Série</a>
            </li>

            <li dropdown class="dropdown">
                <a href="#" id="basic-link" dropdownToggle (click)="false" class="nav-link dropdown-toggle">
                    <i class="fas fa-plus-circle"></i> Pridať
                </a>
                <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li [routerLink]="['/books','new']">
                        <a class="dropdown-item nav-link" href="#"> <i class="fas fa-book"></i> Knihu</a>
                    </li>
                    <li [routerLink]="['/reading','new']">
                        <a class="dropdown-item nav-link" href="#"><i class="fas fa-glasses"></i> Čítanie</a>
                    </li>
                    <li [routerLink]="['/authors','new']">
                        <a class="dropdown-item nav-link" href="#"><i class="fas fa-user"></i> Autora</a>
                    </li>
                    <li [routerLink]="['/series','new']">
                        <a class="dropdown-item nav-link" href="#"><i class="fas fa-layer-group"></i> Sériu</a>
                    </li>
                </ul>
            </li>
        </ul>
        <div>
            <span class="version" [title]="versionTitle">{{version}}</span>
        </div>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Autor / Kniha" aria-label="Hľadať">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Hľadať</button>
        </form>
    </div>
</nav>


<div class="container-fluid">
    <router-outlet></router-outlet>
</div>