<h2>Books</h2>

<div #dataTableParent>
  <data-table #dataTable [items]="items" [itemCount]="itemCount" (reload)="reloadItems($event)" [showReloading]="false">
    <data-table-column property="name" header="Name" [sortable]="true" [resizable]="true">
      <template #dataTableCell let-item="item">
          <a routerLink="/books/{{item.id}}">{{item.name}}</a>
        </template>
    </data-table-column>
    <data-table-column property="authors" header="Authors" [sortable]="false">
      <template #dataTableCell let-item="item">
            <a *ngFor="let author of item.authors">{{author.firstName}} {{author.lastName}}</a>
        </template>
    </data-table-column>
    <data-table-column property="genre" header="Genre" [sortable]="true">
      <template #dataTableCell let-item="item">
            <span>{{item.genre && item.genre.name}}</span>
        </template>
    </data-table-column>
    <data-table-column property="readings" header="Read" [sortable]="false">
      <template #dataTableCell let-item="item">
            <span *ngFor="let r of item.readings; let i=index">{{i==0?'':', '}}{{r.year}}</span>
        </template>
    </data-table-column>
  </data-table>

</div>
